@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Rajdhani:wght@300&display=swap');

body {
    background: linear-gradient(130deg,#5957e6, #579ee6, #b5f1f7);
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 55px;
    color: #fff;
    text-align: justify;
    padding: 0px;
    margin: 0px;
    margin-left: 7vw;
    margin-bottom: 50px;
}

#item-info {
    background-color: #fff;
    border-radius: 7px;
    width: 75vw;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


